<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>메인입니다</title>
   <!-- 토스페이먼츠 결제창 SDK 추가 -->
  <script src="https://js.tosspayments.com/v1/payment"></script>
	</head>


<body>
 <section>
    <h1>구매하기</h1>
    <img src="/images/toss-tee.png" style="max-width: 100%" />
    <h3>토스 티셔츠</h3>
    <span>19,000 원</span>
    <p>----------------------</p>
    <button id="tossPayments_Card">카드결제</button>
    <button id="tossPayments_BankTransfer">계좌이체</button>
    <button id="tossPayments_VirtualAccount">가상계좌</button>
    <p>----------------------</p>
</section>
 
 
 
 <div>
   
 </div> 
</body>

<script src="/js/pay.js"></script>

</html>