<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    <th:block layout:fragment="mycss">
    </th:block>    

    <main layout:fragment="main">
        <div class="d-flex flex-column align-items-center">
        <h3>주문하신 상품의
        <br>상세내역이에요</h3>
        <table>
        <thead>
            <tr>
               <td>상품명</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.name}"></td>

            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-dark mb-2" th:href="@{recipe/review}">후기 작성</a>
    </main>
    
    <th:block layout:fragment="myscripts">
    </th:block>
    
</html>